.feedback-detail {
  background-color: #fff;

  .detail-container {
    padding: 20rpx 40rpx;

    .detail-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
    .detail-content{
        padding: 20rpx 0;
        justify-content: center;
    }
  }
}
